<section>
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a routerLink="/main">Головна</a></li>
        <li><a>Контакти</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="page-content">
      <div class="title-block">
        <h1 class="title">Контакти</h1>
      </div>
      <div class="element-block">
        <div class="map">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker 
                        [latitude]="lat"
                        [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
        <div class="text-map">
          <h2 class="title">Як нас знайти</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          <div class="item-info">
            <span class="line"></span>
            <p>
              Україна<br>
              Львівска область<br>
              Львів, вул. Стрийська 75 А
            </p>
            <a href="#">+38 (066) 034 30 89</a><br>
            <a href="#">Doba@gmail.com</a>
            <span class="line"></span>
            <p>
              Пн – Пт з 9.00 до 18.00
            </p>
          </div>
        </div>
      </div>
      <div class="form-block">
        <div class="title-form">
          <h2 class="title">Задати запитання</h2>
          <p>Ви можете задати питання або отримати консультацію. Заповніть, будь ласка, нижченаведену форму і відішліть її нам. Ми гарантуємо, що персональні дані, які ви нам повідомляєте, будуть використані виключно для цілей обробки ваших запитів.</p>
        </div>
        <form>
          <div class="example-container">
            <mat-form-field>
              <input matInput  placeholder="Ім’я" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Телефон" required>
            </mat-form-field>

          </div>
          <div class="textarea-container">
            <mat-form-field>
              <textarea matInput placeholder="Повідомлення"></textarea>
            </mat-form-field>
          </div>
          <div class="button-container">
            <button class="submit" type="submit">Відправити</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
