<header class="header">
  <a routerLink="/main">
    <img src="img/logo.png" alt="Alternate Text" />
  </a>
  <div class="nav-header">
    <div class="top-header">
      <nav>
        <a routerLink="/main" routerLinkActive="active">Головна</a>
        <a routerLink="/about-us" routerLinkActive="active">Про нас</a>
        <a routerLink="/news" routerLinkActive="active">Новини</a>
        <a routerLink="/contact" routerLinkActive="active">Контакти</a>
      </nav>
      <mat-select [(value)]="selected">
        <mat-option value="eng">ENGLISH</mat-option>
        <mat-option value="ua">UKRAINE</mat-option>
        <mat-option value="ru">RUSSIAN</mat-option>
      </mat-select>
    </div>
    <div class="bottom-header">
      <div class="item">
        <button mat-button [matMenuTriggerFor]="menu">ПРОГРАМИ</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item>Item 1</a>
          <a mat-menu-item>Item 2</a>
        </mat-menu>
      </div>
      <div class="item">
        <button mat-button [matMenuTriggerFor]="menu">БІБЛІОТЕКА</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item>Item 1</a>
          <a mat-menu-item>Item 2</a>
        </mat-menu>
      </div>
      <div class="item">
        <button mat-button [matMenuTriggerFor]="menu">ГРОМАДСЬКА ОСВІТА</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item>Item 1</a>
          <a mat-menu-item>Item 2</a>
        </mat-menu>
      </div>
      <div class="item">
        <button mat-button [matMenuTriggerFor]="menu">ІСТОРИЧНА ОСВІТА</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item>Item 1</a>
          <a mat-menu-item>Item 2</a>
        </mat-menu>
      </div>
      <div class="item">
        <button mat-button [matMenuTriggerFor]="menu">СПІЛЬНОТА</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item>Item 1</a>
          <a mat-menu-item>Item 2</a>
        </mat-menu>
      </div>
      <button mat-raised-button><mat-icon>favorite</mat-icon></button>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>         </footer>
