header {
  display: grid;
  grid-template-columns: 465px 1fr;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 8px 1px rgba(18, 18, 18, 0.1);
    height: 146px;
    background-color: #ffffff;

    img {
      max-width: 440px;
      height: auto;
    }
  }

  .nav-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .top-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 5px 200px 5px 0;

      nav {
        a {
          padding: 20px;
          color: #56575c;
          font-family: "Myriad Pro", sans-serif;
          font-size: 15px;
          font-weight: 400;
          text-decoration: none;
          display: inline-block;
          transition: .25s;

          &:hover {
            color: #00248b;
          }

          &.active {
            color: #00248b;
          }
        }
      }
    }

    .bottom-header {
      display: flex;
      align-content: stretch;
      padding-right: 200px;
      background-color: #00248b;

      .item {
        flex: 1 1 100%;
        border-right: 1px #fff solid;
      }

      .mat-button, .mat-raised-button {
        background-color: #00248b;
        border-radius: 0;
        width: 100%;
        color: #ffffff;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 18px;
        font-weight: 400;
        transition: .25s;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        height: 45px;

        &.search {
          width: 75px;
        }

        &:hover {
          background-color: #fb6c33;
        }

        &.active {
          background-color: #fb6c33;
        }
        /*
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 30px;
          width: 0;
          height: 0;
          transform: translateY(-50%);
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid;
          margin: 0 4px;
        }
        */
        &:after {
          color: rgba(255,255,255, 1);
        }
      }

      .mat-raised-button {
        background-color: #00248b;
        border-radius: 0;
        box-shadow: none;
        color: #ffffff;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-item: center;
        justify-content: center;
        border-right: 1px #fff solid;

        ::ng-deep .mat-button-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  mat-select {
    margin-left: 20px;
    width: 90px;
    font-size: 15px;
    font-weight: 400;
    color: #528ad5;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: underline;
    text-transform: uppercase;

    ::ng-deep .mat-select-value-text {
      color: #528ad5;
      font-family: "Roboto Condensed", sans-serif;
      text-decoration: underline;
      text-transform: uppercase;
    }

    .mat-select-value-text {
      color: #528ad5;
      font-family: "Roboto Condensed", sans-serif;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}
.footer {
  background-color: #262527;
  color: #ffffff;

  .container {
    display: block;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    ul {
      padding-left: 0;
      margin: 0;

      li {
        list-style-type: none;
      }
    }

    .title {
      color: #ffffff;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.16px;
      margin: 0 0 30px;
    }

    a {
      color: #ffffff;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-decoration: none;
      transition: .25s;

      &:hover {
        color: #fb6c33;
      }
    }

    p {
      color: #dddddd;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }

    .batton {
      display: inline-block;
      text-align: center;
      height: 32px;
      color: #ffffff;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.15px;
      padding: 0 29px;
      border-radius: 16px;
      width: auto;
      background-color: #fb6c33;

      &:hover {
        background-color: #ffffff;
      }
    }
  }

  .footer-bootom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 50px;

    .left-item {
      width: 65%;

      p {
        color: #939292;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 12px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.25px;
        margin: 0;
      }
    }

    .right-item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      p {
        color: #ffffff;
        font-family: "Roboto Condensed", sans-serif;
        ;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
      }
    }

    ul {
      padding-left: 10px;
      display: flex;
      margin: 0;

      li {
        list-style-type: none;
        margin: 0 10px;

        a {
          transition: .25s;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            height: 20px;
            width: 20px;
            fill: #fff;
          }

          &:hover {
            svg {
              fill: #fb6c33;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1650px) {
  header .nav-header .top-header, header .nav-header .bottom-header {
    padding-right: 15px;
  }
}
@media (max-width: 1480px) {
  header .nav-header .bottom-header .mat-button, header .nav-header .bottom-header .mat-raised-button {
    padding-left: 10px;
    padding-right: 10px;
  }
  header {
    grid-template-columns: 250px 1fr;

    .logo img {
      max-width: 440px;
      height: auto;
      width: 90%;
    }
  }
 }
