header {
  display: grid;
  grid-template-columns: 465px 1fr;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 8px 1px rgba(18, 18, 18, 0.1);
    height: 146px;
    background-color: #ffffff;

    img {
      max-width: 440px;
      height: auto;
    }
  }

  .nav-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .top-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 5px 0;

      nav {
        a {
          padding: 20px;
          color: #56575c;
          font-family: "Myriad Pro";
          font-size: 15px;
          font-weight: 400;
          text-decoration: none;
          display: inline-block;
          transition: .25s;

          &:hover {
            color: #00248b;
          }

          &.active {
            color: #00248b;
          }
        }
      }
    }

    .bottom-header {
      display: flex;
      align-content: stretch;

      .item {
        flex: 1 1 100%;
      }

      .mat-button {
        background-color: #00248b;
        border-radius: 0;
        width: 100%;
        color: #ffffff;
        font-family: "Roboto Condensed";
        font-size: 18px;
        font-weight: 400;
      }

      .mat-raised-button {
        background-color: #00248b;
        border-radius: 0;
        box-shadow: none;
        color: #ffffff;
        font-family: "Roboto Condensed";
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-item: center;
        justify-content: center;

        ::ng-deep .mat-button-wrapper {
          display: flex;
          align-item: center;
          justify-content: center;
        }
      }
    }
  }

  mat-select {
    margin-left: 20px;
    width: 150px;
    font-size: 15px;
    font-weight: 400;
    color: #528ad5;
    font-family: "Roboto Condensed";
    text-decoration: underline;
    text-transform: uppercase;

    ::ng-deep .mat-select-value-text {
      color: #528ad5;
      font-family: "Roboto Condensed";
      text-decoration: underline;
      text-transform: uppercase;
    }

    .mat-select-value-text {
      color: #528ad5;
      font-family: "Roboto Condensed";
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}
.footer {
  background-color: #262527;
  color: #ffffff;
}
